################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/drax/Debug
/Debug
/.vs
*.user
/UpgradeLog.htm
